@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://github.com/golang/image/raw/master/font/gofont/ttfs/Go-Mono.ttf');

html {
  background-color: #B1AB99;
  color: #515151;
  letter-spacing: 3px;
  min-height: 100vh;
  width: 100vw;
}

h1 {
  font-weight: 800;
  font-size: 16pt;
}

body {
  margin: 0;
  font-family: 'Go Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  padding-top: 25px;
  padding-right: 50px;
  text-align: center;
  height: 100%;
}

.header {
  float: right;
  color: #FFF6DB;
  font-weight: 800;
  font-size: 12pt;
}

.content {
  background-color: #FFFCF5;
  min-height: 100%;
  width: 50%;

  margin-top: 75px;

  margin-left: auto;
  margin-right: auto;

  padding: 75px;

  border-radius: 25px;
  box-shadow: 10px 25px 50px RGBA(0,0,0,0.3);
}